* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input, textarea {
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    padding: 10px;
    background-color: navajowhite;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.main-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
