:root {
  --main-bg-color: #0586f8;
  --main-fg-color: #0b3c9a;
  --secondary-bg-color: #1370c5;
  --element-bg-color: #28d397;
  --element-focus-color: #62d6f6;
  --element-active-color: #81eaf6;
}

body {
  margin: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
